{{!--morachat paroli verakangnum emailov hastateluch heto --}}

<div class="row">

    <div id="login" class="col s6 offset-s3">
        {{!-- stugum enq ete error ka chuych enq talis --}}
        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}

        <h3>Restore password</h3>
        <form action="/auth/password" method="POST">
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">New passwoed</label>
                <span class="helper-text" data-error="Add password"></span>
            </div>
            {{!-- _csrf sesian pashtpanelu hamar --}}
            <input type="hidden" name="_csrf" value="{{csrf}}">
            {{!-- ............................... --}}
            
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <button class='btn btn-primary' type="submit">Update password</button>

        </form>
    </div>

</div>