.section__book {
  background-color: #55c57a;
  padding: 100px; }

.section__book--heading {
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background-image: -o-linear-gradient(left, #7ed56f, #28b485);
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2em;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase; }
  .section__book--heading:hover {
    text-shadow: 0.5rem 1rem 2rem #04040433;
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
    -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

.section__book__row {
  width: 100%;
  background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-9.jpg);
  background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-9.jpg);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }

.form button {
  display: none;
  position: relative;
  top: 60px;
  width: 250px;
  padding: 20px;
  border-radius: 40px;
  border: none;
  background-color: #fff;
  color: #777;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer; }
  .form button:hover {
    -webkit-animation: pulse-purple-1 2s;
    animation: pulse-purple-1 2s; }
  .form button:focus {
    outline: transparent; }

@-webkit-keyframes pulse-purple-1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff; }
  100%,
  30% {
    -webkit-box-shadow: 0 0 0 26px transparent;
    box-shadow: 0 0 0 26px transparent; } }

@keyframes pulse-purple-1 {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff; }
  100%,
  30% {
    -webkit-box-shadow: 0 0 0 26px transparent;
    box-shadow: 0 0 0 26px transparent; } }
