/* <button>START CREATING</button> */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button {
  position: relative;
  border: none;
  background-image: linear-gradient(
    to bottom,
    #9c95ff,
    #938bf9,
    #8981f4,
    #8077ee,
    #766de8
  );
  line-height: 50px;
  padding: 0 30px;
  font-size: 18px;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
}

button::before,
button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 42px;
}
button::before {
  animation: animate 3.5s infinite;
}

button::after {
  animation: animate1 3.5s infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgb(114 109 232 / 40%);
  }
  100%,
  30% {
    box-shadow: 0 0 0 36px transparent;
  }
}

@keyframes animate1 {
  0% {
    box-shadow: 0 0 0 0 rgb(35 109 232 / 40%);
  }
  100%,
  30% {
    box-shadow: 0 0 0 16px transparent;
  }
}
