@mixin itemSize {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin trophy {
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}

@mixin trophyUnderCover {
  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 40%;
    width: 20%;
    height: 3px;
    background-color: #a40344;
    transition: 0.2s;
  }
  &:hover {
    transform: translate(0px, 5px);
    &:before {
      width: 30%;
      left: 35%;
    }
  }
}
