.barca__title__ucl {
  width: 200px;
  height: 200px;
  background-color: lawngreen;
  background: url("https://i.dlpng.com/static/png/5390422-uefa-champions-league-trophy-magnet-champions-league-final-champions-league-png-820_654_preview.png"); }
